@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 14px;
}

.header-component {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #dddddd;
  z-index: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
    height: 80px;
    position: relative;
    float: left;
    margin-left: 80px;
}

.btn {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
}

.filterbtn {
  border-right: 1px solid #dddddd;
  height: 18px;
}

.searchbar {
  border: 1px solid #dddddd;
  border-radius: 21px;
  padding: 5px;
  float: left;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.guests {
  color: #dddddd;
}

.searchbtn {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  vertical-align: bottom;
  background-color: rgb(255, 56, 92);
  color: white;
  border: none;
  
}

.hostbtn {
  border: none;
  font-size: 14px;
  border-radius: 100px;
  padding: 12px;
}

.langbtn {
  display: inline-flex;
  vertical-align: middle;
  font-size: 21px; 
  padding: 10px;
  border-radius: 400px;
  border: none;
  background-color: white;
}

.usermenu {
    border-radius: 23px;
    padding: 3px;
    border: 1px solid #dddddd;
}

.user-icons {
  vertical-align: middle;
  
}

.user-info {
  position: relative;
  float: right;
  margin-right: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-right {
  float: left;
  margin-right: 20px;
}
.headerHover:hover {
  box-shadow: 1px 0.75px #dddddd;
}

.headerHover2:hover {
  background-color: #dddddd;
}


.filter-component {
  position: fixed;
  top: 80px;
  padding-left: 80px;
  width: 100%;
  z-index: 0;
  background-color: white;
}

.filterImg {
  width: 24px;
  height: 24px;
}

.filterIcon {
  float: left;
  margin: 15px 10px 5px 10px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: black;  
}

.filterIcon:hover {
  border-bottom: 1px solid #dddddd;
}

.first-icon {
  margin-left: 90px;
}

.listing-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 200px 0 0 0;
  z-index: -1;
  
}

.listingCard {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.listingInfo {
  display: block;
  text-align: left;
  width: 300px;
  height: auto;
  
}
.rating {
  float: right;
}

.light {
  font-weight: 200;
  clear: left;
}


.listingImg {
  width: 300px;
  height: 300px;
  border-radius: 7%;
}

.hoverHeader {
  background-color: #ededed;
}


.hoverFilter {
  border-bottom: 2px solid #dddddd;
}

.user-dropdown {
  width: 250px;
  text-align: left;
  border-radius: 4%;
  border: 1px solid #dddddd;
  display: block;
  position: absolute;
  top: 60px;
  background: white;
  z-index: 1;
}

.login {
  font-weight: 200;
  border-bottom: 1px solid #dddddd;
  padding: 5px;
}

.host {
  font-weight: 200;
  padding: 5px;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #dddddd;
  z-index: 1;
  background-color: white;
}

.left-container {
  font-weight: 200;
  font-size: 14px;
  float: left;
  margin: 2px 5px 0px 5px;
}

.right-container {
  float: right;
  margin-right: 20px;
  font-size: 14px;
}

.container-element {
  float: left;
  margin: 2px 10px 0px 10px;
}

.foot-lang {
  vertical-align: middle;
  font-size: 20px;
}

.menuUp {
  visibility: hidden;
}

.hoverItem:hover {
  text-decoration: underline;
}

.additional-footer-info {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background-color: white;
  border-top: 1px solid #dddddd;
  border-radius: 10px;
  display: flex;
  text-align: left;
}

.additional-footer-section {
  flex: 25%;
  margin: 25px;
  
}

.exit {
  top: 0;
  float: left;
  height: max-content;
  border: none;
  background-color: white;
  padding: 5px;
}

.small-device-header {
  display: flex;
  justify-content: center;
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background-color: white;
}

.searchbar-sd {
  border: 1px solid #dddddd;
  border-radius: 40px;
  width: 95%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 20px #dddddd;
}

.search-text-sd {
  display: block;
  line-height: 1px;
}

.AAA {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #dddddd;
}

.search-sd {
  border: none;
  background: white;
  font-weight: 400;
}

.link-sd {
  font-size: 12px;
  margin-right: 3px;
}

.filter-sd {
  border-radius: 50%;
  background-color: white;
  border: 1px solid #dddddd;
  padding: 3px;
  margin: 5px;
}

.small-device-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  z-index: 1;
  background-color: white;
  position: fixed;
  padding-top: 10px;

}

.footerBtn-sd {
  display: block;
  text-align: center;
}

.airbnb {
 font-size: 30px;
}

.search-footer-sd {
  color: rgb(255, 56, 92);
}

@media only screen and (max-width: 625px) {
  .listing-component {
    justify-content: center;
  }
  .listingCard {
    flex: 100%;
  }

  .listingImg{
    width: 400px;
    height: 400px;
    
  }

  .listingInfo {
    width: 400px;
  }
}

@media only screen and (min-width: 625px) and (max-width: 800px) {
  .listing-component {
    justify-content: center;
  }
  .listingCard {
    flex: 50%;
  }

  .listingImg{
    width: 300px;
    height: 300px;
    
  }

  .listingInfo {
    width: 300px;
  }

  .filter-component {
    padding-left: 10px;
    justify-content: center;
  }
 }

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .listingCard {
    flex: 50%;
  }

  .listingImg {
    width: 400px;
    height: 400px;
  }

  .listingInfo {
    width: 400px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1400px) {
  .listingCard {
    flex: 33%;
  }
  .listingInfo {
    width: 350px;
  }

  .listingImg {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (min-width: 1700px) {
  .listingCard {
    flex: 15%;
  }
  .listingInfo {
    width: 400px;
  }

  .listingImg {
    width: 400px;
    height: 400px;
  }
}
